.common-sidebar {
  @apply h-screen bg-gray-50 flex flex-col shadow-inner relative;
  container-type: inline-size;
}

.common-sidebar__header {
  @apply flex flex-col gap-2 px-5 py-4 bg-gray-50;
}

.logo__title {
  @apply text-2xl;
}
.common-sidebar__menu-btn {
  @apply border-none cursor-pointer bg-transparent;
}
.common-sidebar__body {
  @apply flex flex-col p-4 overflow-hidden overflow-y-auto;
}

.common-sidebar__footer {
  @apply mt-auto border-t border-gray-200 flex justify-center items-center text-gray-500 text-sm;
}
.common-sidebar__resizer {
  @apply absolute top-0 right-0 w-1 h-full bg-transparent cursor-e-resize;
}
.item-chat {
  @apply flex items-center gap-3 p-2 rounded-lg cursor-pointer hover:bg-gray-100 transition-all duration-300;
}
.item-chat__header {
  @apply flex items-center justify-between;
}
.item-chat__status {
  @apply flex gap-1 items-center;
}
.item-chat__time {
  @apply text-sm;
}
.last-message__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-chat__info {
  @apply w-[30%];
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}
@container (max-width: 86px) {
  .common-sidebar__header {
    @apply items-center justify-center;
  }
  .logo__title {
    @apply hidden;
  }

  label.search {
    @apply hidden;
  }
  ul.chat-folders {
    @apply hidden;
  }
  .item-chat__info {
    @apply hidden;
  }
  .user-name {
    @apply hidden;
  }
  .last-message {
    @apply hidden;
  }
  .item-chat__time {
    @apply hidden;
  }
  .common-sidebar__body {
    @apply p-0 items-center justify-center;
  }
  .message__status-icon {
    @apply hidden;
  }
  .setting-item__info {
    @apply hidden;
  }
}
