@import './normalize.css';
@import './shared/scroll.css';
@import './shared/logo.css';
@import './shared/modal.css';
@import './components/sidebar.css';
@import './components/commonSidebar.css';
@import './components/chatFolders.css';
@import './shared/search.css';
@import './components/message.css';
@import './shared/menu.css';
@import './components/chatWindow.css';
@import './components/chatInput.css';
@import './components/chatMenu.css';
@import './components/user.css';
@import './components/chatFileSendModal.css';
@import './components/compactPage.css';
@import './ui/common.css';
@import './components/settings.css';
@import './components/auth.css';
@import './shared/commonWindowHeader.css';
@import './shared/selectList.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  @apply text-[#6B7280];
}

.main-layout {
  @apply flex overflow-hidden;
}

.App {
  @apply flex h-screen relative;
  flex: 1 1 auto;
  transition: all 0.3s ease-in-out;
}

.App .chat-menu {
  margin-left: 0;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.App--menu-closed .chat-menu {
  margin-left: -450px;
  transform: translateX(100%);
}
